body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container1 {
  width: 1000px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#aboutsticky {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#aboutsticky ul {
  display: flex;
}

#aboutsticky li {
  margin-left: 20px;
  color: #83888f;
}
.hero {
  background-image: url(/images/Bitmap.jpg);
  background-repeat: no-repeat;
  height: 450px;
  display: flex;
  align-items: center;
  padding-left: 100px;
}
.hero h2 {
  text-align: left;
  color: #fefcf7;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  font-family: sans-serif;
}
.hero p {
  width: 445px;
  height: 104px;
  color: #fefcf7;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 400;
  font-family: sans-serif;
}

.quality {
  height: 450px;
  margin: 140px auto;
  background-color: #293039;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.quality-text {
  color: #fff;
  width: 540px;
  margin-right: 130px;
}

.quality-text h2 {
  margin: 100px 0 32px 0;
  font-weight: 900;
  font-size: 40px;
}
.quality-text p {
  color: rgba(255, 255, 255, 0.748);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.quality-image {
  position: relative;
  bottom: 100px;
}
.quality-image img {
  border-radius: 10px;
}

h2 {
  font-size: 20px;
  font-weight: 700px;
  line-height: 24px;
  margin-left: 70px;
  color: gray;
}
section ul {
  margin: 20px 100px;
  width: 100%;
  height: 80%;
  display: grid;
  list-style: none;
  font-size: 16px;
  line-height: 26px;
}
section {
  display: flex;
}
