* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container1 {
  width: 1000px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
    background-image: url(/images/Bitmap.jpg);
    background-repeat: no-repeat;
    margin:  0 auto;
    width: 1280px;
    height: 450px;
  
}
 h2 {
    text-align: left;
    margin-right: 40px;
    color: #FEFCF7;
    margin-top: 150px;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    font-family: sans-serif;
 }
 p {
    width: 445px;
    height: 104px;
     color: #FEFCF7;
     font-size: 16px;
     margin-top: 20px;
     font-weight: 400;
     font-family: sans-serif;
 }