* {
  text-decoration: none;
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container1 {
  width: 1000px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.sticky {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.sticky ul {
  display: flex;
}

.sticky li {
  margin-left: 20px;
  color: #83888f;
}

section#great-coffee {
  background-image: url("../images/Graetcoffe.png");
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}

section#great-coffee div {
  width: 493px;
  padding: 50px 95px;
  position: relative;
}
section#great-coffee h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  color: #fefcf7;
  margin-bottom: 20px;
}
section#great-coffee p {
  width: 445px;
  font-family: "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
}
section#great-coffee button {
  margin-top: 30px;
  width: 217px;
  height: 56px;
  background-color: #66d2cf;
  border-radius: 6px;
  color: #fefcf7;
}
section#great-coffee a {
  font-family: "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
}

section#great-coffee img {
  margin: 0 0 -34px -38px;
}
section#great-coffee button:hover {
  background-color: #fff;
  transition: 0.5;
}
section#great-coffee a:hover {
  color: #66d2cf;
  font-size: 24px;
}

section#great-coffee a:hover {
  color: #66d2cf;
  font-size: 24px;
}

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,900&display=swap");

body {
  font-family: "Fraunces", serif;
}
.content h5 {
  color: #83888f;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  margin-left: 90px;
  padding-bottom: 50px;
}

.content .list {
  display: flex;
}

.content .list .item {
  padding: 50px;
  list-style: none;
}

.item h3 {
  color: black;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
}

.item p {
  color: #333d4b;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
